{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- 
  <link rel="icon" sizes="32x32" href="/assests/favicon-32x32.png" /> -->
  <link rel="stylesheet" href="{% static '/chat/style.css'%}" />
  <script src="https://kit.fontawesome.com/e8ab1b814c.js" crossorigin="anonymous"></script>
  <title>  Join create page </title>
  </style>
</head>

<body>
  <!-- nav section -->
  <nav>
    <img src="{% static '/chat/assests/logo5.svg'%}" style="width: 5%;"><a href="#" ><h1>LOCALBYTES</h1></a>
    <!-- <h1>LocalBytes</h1> -->
    <ul class="nav-list">

      <!-- <li><a href="#" target="_blank">CONTACT</a> </li> -->


      <li><a href="E:\Megahack 2021\local-web-chat-main2\teams.html" target="_blank" >TEAM</a> </li>

    </ul>
  </nav>
  <!-- image and buttons section -->
  <section class="first-section">
    <div class="container">
      <img style="height: 300px; width: 500px;" src="{% static '/chat/assests/Group_chat_re_frmo.svg' %}" alt="main-logo" />
         
      <div class="container__h1-p">
        <h1>Local Web Chat App integrated with Raspberry pi🔗📲</h1>
        <br>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <br>
        <br>
        <a href="#" class="btn-1" style="color:black;">Join</a> &nbsp;&nbsp;
        <a href="#" class="btn-1" style="color: black;">Create</a>
      </div>
    </div>
  </section>
  <br>
  <br>
  <hr style="width: 20%;">
  <footer>
    &copy; Team LocalBytes | Megahack 2.0 
  </footer>
  <br>
</body>
</html>

<!-- HelloWorld
localhost:8000/chat/helloworld
Grouppname121
localhost:8000/chat/Grouppname121 -->